### 01. Importing Libraries and Data

In [1]:
#Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Define path
path = r'C:\Users\iryna\Documents\Data analytics\Career foundry\6. Advanced Analytics & Dashboard Design\09-2022 World Happiness Analysis\02 Data'

In [3]:
# Import Data
hap2015 = pd.read_csv(os.path.join(path, 'Raw Data', '2015.csv'))

In [4]:
# Checking the output
hap2015

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [5]:
# Import Data
hap2016 = pd.read_csv(os.path.join(path, 'Raw Data', '2016.csv'))
hap2017 = pd.read_csv(os.path.join(path, 'Raw Data', '2017.csv'))
hap2018 = pd.read_csv(os.path.join(path, 'Raw Data', '2018.csv'))
hap2019 = pd.read_csv(os.path.join(path, 'Raw Data', '2019.csv'))

In [6]:
hap2020 = pd.read_csv(os.path.join(path, 'Raw Data', '2020.csv'))
hap2021 = pd.read_csv(os.path.join(path, 'Raw Data', '2021.csv'))
hap2022 = pd.read_csv(os.path.join(path, 'Raw Data', '2022.csv'))

In [7]:
# Check the dimensions
hap2016.shape

(157, 13)

In [8]:
hap2017.shape

(155, 13)

In [9]:
hap2018.shape

(156, 10)

In [10]:
hap2019.shape

(156, 10)

In [11]:
hap2020.shape

(153, 20)

In [12]:
hap2021.shape

(149, 20)

In [13]:
hap2022.shape

(145, 13)

### 02. Wrangling procedure

#### 02.1 Wrangling procedure - file year 2015

In [14]:
# 2015 checking the file
pd.options.display.max_columns = None
hap2015.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [15]:
# 2015 dropping columns that are irrelevant for the analysis
hap2015.drop(columns = ['Standard Error'])

,Country,Region,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [16]:
hap2015_2 = hap2015.drop(columns = ['Standard Error'])

In [17]:
# 2015 columns renaiming
hap2015_2.rename(columns={'Country' : 'country', 'Region' : 'region','Happiness Rank' : 'happiness_rank',
                        'Happiness Score' : 'happiness_score', 'Economy (GDP per Capita)' : 'economy_GDP_per_capita',
                       'Family' : 'family', 'Health (Life Expectancy)' : 'health_life_expectancy', 'Freedom' : 'freedom',
                       'Trust (Government Corruption)' : 'trust_government_corruption', 'Generosity' : 'generosity',
                       'Dystopia Residual' : 'dystopia_residual'}, inplace = True)

In [18]:
hap2015_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   country                      158 non-null    object
 1   region                       158 non-null    object
 2   happiness_rank               158 non-null    int64
 3   happiness_score              158 non-null    float64
 4   economy_GDP_per_capita       158 non-null    float64
 5   family                       158 non-null    float64
 6   health_life_expectancy       158 non-null    float64
 7   freedom                      158 non-null    float64
 8   trust_government_corruption  158 non-null    float64
 9   generosity                   158 non-null    float64
 10  dystopia_residual            158 non-null    float64
dtypes: float64(8), int64(1), object(2)
memory usage: 13.7+ KB

In [19]:
hap2015_2.head()

,country,region,happiness_rank,happiness_score,economy_GDP_per_capita,family,health_life_expectancy,freedom,trust_government_corruption,generosity,dystopia_residual
0,Switzerland,Western Europe,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

#### 02.2 Wrangling procedure - file year 2016

In [20]:
# 2016 checking the file
hap2016.head()

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

In [21]:
# 2016 dropping columns that are irrelevant for the analysis
hap2016.drop(columns = ['Lower Confidence Interval', 'Upper Confidence Interval'])

,Country,Region,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596
...,...,...,...,...,...,...,...,...,...,...,...
152,Benin,Sub-Saharan Africa,153,3.484,0.39499,0.10419,0.21028,0.39747,0.06681,0.20180,2.10812
153,Afghanistan,Southern Asia,154,3.360,0.38227,0.11037,0.17344,0.16430,0.07112,0.31268,2.14558
154,Togo,Sub-Saharan Africa,155,3.303,0.28123,0.00000,0.24811,0.34678,0.11587,0.17517,2.13540
155,Syria,Middle East and Northern Africa,156,3.069,0.74719,0.14866,0.62994,0.06912,0.17233,0.48397,0.81789
156,Burundi,Sub-Saharan Africa,157,2.905,0.06831,0.23442,0.15747,0.04320,0.09419,0.20290,2.10404

In [22]:
hap2016_2 = hap2016.drop(columns = ['Lower Confidence Interval', 'Upper Confidence Interval'])

In [23]:
# 2016 columns renaiming
hap2016_2.rename(columns={'Country' : 'country', 'Region' : 'region','Happiness Rank' : 'happiness_rank',
                        'Happiness Score' : 'happiness_score', 'Economy (GDP per Capita)' : 'economy_GDP_per_capita',
                       'Family' : 'family', 'Health (Life Expectancy)' : 'health_life_expectancy', 'Freedom' : 'freedom',
                       'Trust (Government Corruption)' : 'trust_government_corruption', 'Generosity' : 'generosity',
                       'Dystopia Residual' : 'dystopia_residual'}, inplace = True)

In [24]:
hap2016_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   country                      157 non-null    object
 1   region                       157 non-null    object
 2   happiness_rank               157 non-null    int64
 3   happiness_score              157 non-null    float64
 4   economy_GDP_per_capita       157 non-null    float64
 5   family                       157 non-null    float64
 6   health_life_expectancy       157 non-null    float64
 7   freedom                      157 non-null    float64
 8   trust_government_corruption  157 non-null    float64
 9   generosity                   157 non-null    float64
 10  dystopia_residual            157 non-null    float64
dtypes: float64(8), int64(1), object(2)
memory usage: 13.6+ KB

In [25]:
hap2016_2.head()

,country,region,happiness_rank,happiness_score,economy_GDP_per_capita,family,health_life_expectancy,freedom,trust_government_corruption,generosity,dystopia_residual
0,Denmark,Western Europe,1,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

#### 02.3 Wrangling procedure - file year 2017

In [26]:
# 2017 checking the file
hap2017.head()

,Country,Region,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,Western Europe,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,Western Europe,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,Western Europe,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,Western Europe,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,Western Europe,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [27]:
# 2017 dropping columns that are irrelevant for the analysis
hap2017.drop(columns = ['Whisker.high', 'Whisker.low'])

,Country,Region,Happiness.Rank,Happiness.Score,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,Western Europe,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,Western Europe,2,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,Western Europe,3,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,Western Europe,4,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,Western Europe,5,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182
...,...,...,...,...,...,...,...,...,...,...,...
150,Rwanda,Sub-Saharan Africa,151,3.471,0.368746,0.945707,0.326425,0.581844,0.252756,0.455220,0.540061
151,Syria,Middle East and North Africa,152,3.462,0.777153,0.396103,0.500533,0.081539,0.493664,0.151347,1.061574
152,Tanzania,Sub-Saharan Africa,153,3.349,0.511136,1.041990,0.364509,0.390018,0.354256,0.066035,0.621130
153,Burundi,Sub-Saharan Africa,154,2.905,0.091623,0.629794,0.151611,0.059901,0.204435,0.084148,1.683024
154,Central African Republic,Sub-Saharan Africa,155,2.693,0.000000,0.000000,0.018773,0.270842,0.280876,0.056565,2.066005

In [28]:
hap2017_2 = hap2017.drop(columns = ['Whisker.high', 'Whisker.low'])

In [29]:
# 2017 columns renaiming
hap2017_2.rename(columns={'Country' : 'country', 'Region' : 'region','Happiness.Rank' : 'happiness_rank',
                        'Happiness.Score' : 'happiness_score', 'Economy..GDP.per.Capita.' : 'economy_GDP_per_capita',
                       'Family' : 'family', 'Health..Life.Expectancy.' : 'health_life_expectancy', 'Freedom' : 'freedom',
                       'Trust..Government.Corruption.' : 'trust_government_corruption', 'Generosity' : 'generosity',
                       'Dystopia.Residual' : 'dystopia_residual'}, inplace = True)

In [30]:
hap2017_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   country                      155 non-null    object
 1   region                       155 non-null    object
 2   happiness_rank               155 non-null    int64
 3   happiness_score              155 non-null    float64
 4   economy_GDP_per_capita       155 non-null    float64
 5   family                       155 non-null    float64
 6   health_life_expectancy       155 non-null    float64
 7   freedom                      155 non-null    float64
 8   generosity                   155 non-null    float64
 9   trust_government_corruption  155 non-null    float64
 10  dystopia_residual            155 non-null    float64
dtypes: float64(8), int64(1), object(2)
memory usage: 13.4+ KB

In [31]:
# 2017 shift column 'generocity' before 'dystopia_residual' for cinsistency
ninth_column=hap2017_2.pop('generosity')

In [32]:
# 2017 insert column using insert(position,column_name, ninth_column) function
hap2017_2.insert(9, 'generosity', ninth_column)
hap2017_2.head()

,country,region,happiness_rank,happiness_score,economy_GDP_per_capita,family,health_life_expectancy,freedom,trust_government_corruption,generosity,dystopia_residual
0,Norway,Western Europe,1,7.537,1.616463,1.533524,0.796667,0.635423,0.315964,0.362012,2.277027
1,Denmark,Western Europe,2,7.522,1.482383,1.551122,0.792566,0.626007,0.400770,0.355280,2.313707
2,Iceland,Western Europe,3,7.504,1.480633,1.610574,0.833552,0.627163,0.153527,0.475540,2.322715
3,Switzerland,Western Europe,4,7.494,1.564980,1.516912,0.858131,0.620071,0.367007,0.290549,2.276716
4,Finland,Western Europe,5,7.469,1.443572,1.540247,0.809158,0.617951,0.382612,0.245483,2.430182

In [33]:
hap2017_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   country                      155 non-null    object
 1   region                       155 non-null    object
 2   happiness_rank               155 non-null    int64
 3   happiness_score              155 non-null    float64
 4   economy_GDP_per_capita       155 non-null    float64
 5   family                       155 non-null    float64
 6   health_life_expectancy       155 non-null    float64
 7   freedom                      155 non-null    float64
 8   trust_government_corruption  155 non-null    float64
 9   generosity                   155 non-null    float64
 10  dystopia_residual            155 non-null    float64
dtypes: float64(8), int64(1), object(2)
memory usage: 13.4+ KB

#### 02.4 Wrangling procedure - file year 2018

In [34]:
# 2018 checking the file
hap2018.head()

,Country,Region,Happiness rank,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,Finland,Western Europe,1,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,Norway,Western Europe,2,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,Denmark,Western Europe,3,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,Iceland,Western Europe,4,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,Switzerland,Western Europe,5,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [35]:
# 2018 Using DataFrame.insert() to add a column
hap2018.insert(10, 'dystopia_residual', 0)

In [36]:
hap2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country                       156 non-null    object
 1   Region                        156 non-null    object
 2   Happiness rank                156 non-null    int64
 3   Score                         156 non-null    float64
 4   GDP per capita                156 non-null    float64
 5   Social support                156 non-null    float64
 6   Healthy life expectancy       156 non-null    float64
 7   Freedom to make life choices  156 non-null    float64
 8   Generosity                    156 non-null    float64
 9   Perceptions of corruption     155 non-null    float64
 10  dystopia_residual             156 non-null    int64
dtypes: float64(7), int64(2), object(2)
memory usage: 13.5+ KB

In [37]:
# 2018 columns renaiming
hap2018.rename(columns={'Country' : 'country', 'Region' : 'region','Happiness rank' : 'happiness_rank',
                        'Score' : 'happiness_score', 'GDP per capita' : 'economy_GDP_per_capita',
                       'Social support' : 'family', 'Healthy life expectancy' : 'health_life_expectancy', 'Freedom to make life choices' : 'freedom',
                       'Perceptions of corruption' : 'trust_government_corruption', 'Generosity' : 'generosity'}, inplace = True)

In [38]:
hap2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   country                      156 non-null    object
 1   region                       156 non-null    object
 2   happiness_rank               156 non-null    int64
 3   happiness_score              156 non-null    float64
 4   economy_GDP_per_capita       156 non-null    float64
 5   family                       156 non-null    float64
 6   health_life_expectancy       156 non-null    float64
 7   freedom                      156 non-null    float64
 8   generosity                   156 non-null    float64
 9   trust_government_corruption  155 non-null    float64
 10  dystopia_residual            156 non-null    int64
dtypes: float64(7), int64(2), object(2)
memory usage: 13.5+ KB

In [39]:
# 2018 shift column 'generocity' before 'dystopia_residual' for cinsistency
ninth_column=hap2018.pop('generosity')

In [40]:
# 2018 insert column using insert(position,column_name, ninth_column) function
hap2018.insert(9, 'generosity', ninth_column)
hap2018.head()

,country,region,happiness_rank,happiness_score,economy_GDP_per_capita,family,health_life_expectancy,freedom,trust_government_corruption,generosity,dystopia_residual
0,Finland,Western Europe,1,7.632,1.305,1.592,0.874,0.681,0.393,0.202,0
1,Norway,Western Europe,2,7.594,1.456,1.582,0.861,0.686,0.340,0.286,0
2,Denmark,Western Europe,3,7.555,1.351,1.590,0.868,0.683,0.408,0.284,0
3,Iceland,Western Europe,4,7.495,1.343,1.644,0.914,0.677,0.138,0.353,0
4,Switzerland,Western Europe,5,7.487,1.420,1.549,0.927,0.660,0.357,0.256,0

#### 02.5 Wrangling procedure - file year 2019

In [41]:
# 2019 checking the file
hap2019.head()

,Country,Region,Happiness rank,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,Finland,Western Europe,1,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,Denmark,Western Europe,2,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,Norway,Western Europe,3,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,Iceland,Western Europe,4,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,Netherlands,Western Europe,5,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [42]:
# 2019 Using DataFrame.insert() to add a column
hap2019.insert(10, 'dystopia_residual', 0)

In [43]:
hap2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country                       156 non-null    object
 1   Region                        156 non-null    object
 2   Happiness rank                156 non-null    int64
 3   Score                         156 non-null    float64
 4   GDP per capita                156 non-null    float64
 5   Social support                156 non-null    float64
 6   Healthy life expectancy       156 non-null    float64
 7   Freedom to make life choices  156 non-null    float64
 8   Generosity                    156 non-null    float64
 9   Perceptions of corruption     156 non-null    float64
 10  dystopia_residual             156 non-null    int64
dtypes: float64(7), int64(2), object(2)
memory usage: 13.5+ KB

In [44]:
# 2019 columns renaiming
hap2019.rename(columns={'Country' : 'country', 'Region' : 'region','Happiness rank' : 'happiness_rank',
                        'Score' : 'happiness_score', 'GDP per capita' : 'economy_GDP_per_capita',
                       'Social support' : 'family', 'Healthy life expectancy' : 'health_life_expectancy', 'Freedom to make life choices' : 'freedom',
                       'Perceptions of corruption' : 'trust_government_corruption', 'Generosity' : 'generosity'}, inplace = True)

In [45]:
hap2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   country                      156 non-null    object
 1   region                       156 non-null    object
 2   happiness_rank               156 non-null    int64
 3   happiness_score              156 non-null    float64
 4   economy_GDP_per_capita       156 non-null    float64
 5   family                       156 non-null    float64
 6   health_life_expectancy       156 non-null    float64
 7   freedom                      156 non-null    float64
 8   generosity                   156 non-null    float64
 9   trust_government_corruption  156 non-null    float64
 10  dystopia_residual            156 non-null    int64
dtypes: float64(7), int64(2), object(2)
memory usage: 13.5+ KB

In [46]:
# 2019 shift column 'generocity' before 'dystopia_residual' for cinsistency
ninth_column=hap2019.pop('generosity')

In [47]:
# 2019 insert column using insert(position,column_name, ninth_column) function
hap2019.insert(9, 'generosity', ninth_column)
hap2019.head()

,country,region,happiness_rank,happiness_score,economy_GDP_per_capita,family,health_life_expectancy,freedom,trust_government_corruption,generosity,dystopia_residual
0,Finland,Western Europe,1,7.769,1.340,1.587,0.986,0.596,0.393,0.153,0
1,Denmark,Western Europe,2,7.600,1.383,1.573,0.996,0.592,0.410,0.252,0
2,Norway,Western Europe,3,7.554,1.488,1.582,1.028,0.603,0.341,0.271,0
3,Iceland,Western Europe,4,7.494,1.380,1.624,1.026,0.591,0.118,0.354,0
4,Netherlands,Western Europe,5,7.488,1.396,1.522,0.999,0.557,0.298,0.322,0

#### 02.6 Wrangling procedure - file year 2020

In [48]:
# 2020 checking the file
hap2020.head()

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.8087,0.031156,7.869766,7.747634,10.639267,0.954330,71.900825,0.949172,-0.059482,0.195445,1.972317,1.285190,1.499526,0.961271,0.662317,0.159670,0.477857,2.762835
1,Denmark,Western Europe,7.6456,0.033492,7.711245,7.579955,10.774001,0.955991,72.402504,0.951444,0.066202,0.168489,1.972317,1.326949,1.503449,0.979333,0.665040,0.242793,0.495260,2.432741
2,Switzerland,Western Europe,7.5599,0.035014,7.628528,7.491272,10.979933,0.942847,74.102448,0.921337,0.105911,0.303728,1.972317,1.390774,1.472403,1.040533,0.628954,0.269056,0.407946,2.350267
3,Iceland,Western Europe,7.5045,0.059616,7.621347,7.387653,10.772559,0.974670,73.000000,0.948892,0.246944,0.711710,1.972317,1.326502,1.547567,1.000843,0.661981,0.362330,0.144541,2.460688
4,Norway,Western Europe,7.4880,0.034837,7.556281,7.419719,11.087804,0.952487,73.200783,0.955750,0.134533,0.263218,1.972317,1.424207,1.495173,1.008072,0.670201,0.287985,0.434101,2.168266

In [49]:
# 2020 dropping columns that are irrelevant for the analysis
hap2020.drop(columns = ['Standard error of ladder score', 'upperwhisker', 'lowerwhisker', 'Logged GDP per capita',
                       'Social support', 'Healthy life expectancy', 'Freedom to make life choices', 'Generosity',
                       'Perceptions of corruption', 'Ladder score in Dystopia'])

,Country name,Regional indicator,Ladder score,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.8087,1.285190,1.499526,0.961271,0.662317,0.159670,0.477857,2.762835
1,Denmark,Western Europe,7.6456,1.326949,1.503449,0.979333,0.665040,0.242793,0.495260,2.432741
2,Switzerland,Western Europe,7.5599,1.390774,1.472403,1.040533,0.628954,0.269056,0.407946,2.350267
3,Iceland,Western Europe,7.5045,1.326502,1.547567,1.000843,0.661981,0.362330,0.144541,2.460688
4,Norway,Western Europe,7.4880,1.424207,1.495173,1.008072,0.670201,0.287985,0.434101,2.168266
...,...,...,...,...,...,...,...,...,...,...
148,Central African Republic,Sub-Saharan Africa,3.4759,0.041072,0.000000,0.000000,0.292814,0.253513,0.028265,2.860198
149,Rwanda,Sub-Saharan Africa,3.3123,0.343243,0.522876,0.572383,0.604088,0.235705,0.485542,0.548445
150,Zimbabwe,Sub-Saharan Africa,3.2992,0.425564,1.047835,0.375038,0.377405,0.151349,0.080929,0.841031
151,South Sudan,Sub-Saharan Africa,2.8166,0.289083,0.553279,0.208809,0.065609,0.209935,0.111157,1.378751
152,Afghanistan,South Asia,2.5669,0.300706,0.356434,0.266052,0.000000,0.135235,0.001226,1.507236

In [50]:
hap2020_2 = hap2020.drop(columns = ['Standard error of ladder score', 'upperwhisker', 'lowerwhisker', 'Logged GDP per capita',
                       'Social support', 'Healthy life expectancy', 'Freedom to make life choices', 'Generosity',
                       'Perceptions of corruption', 'Ladder score in Dystopia'])

In [51]:
# 2020 columns renaiming
hap2020_2.rename(columns={'Country name' : 'country', 'Regional indicator' : 'region',
                        'Ladder score' : 'happiness_score', 'Explained by: Log GDP per capita' : 'economy_GDP_per_capita',
                       'Explained by: Social support' : 'family', 'Explained by: Healthy life expectancy' : 'health_life_expectancy', 'Explained by: Freedom to make life choices' : 'freedom',
                       'Explained by: Perceptions of corruption' : 'trust_government_corruption', 'Explained by: Generosity' : 'generosity',
                       'Dystopia + residual' : 'dystopia_residual'}, inplace = True)

In [52]:
hap2020_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   country                      153 non-null    object
 1   region                       153 non-null    object
 2   happiness_score              153 non-null    float64
 3   economy_GDP_per_capita       153 non-null    float64
 4   family                       153 non-null    float64
 5   health_life_expectancy       153 non-null    float64
 6   freedom                      153 non-null    float64
 7   generosity                   153 non-null    float64
 8   trust_government_corruption  153 non-null    float64
 9   dystopia_residual            153 non-null    float64
dtypes: float64(8), object(2)
memory usage: 12.1+ KB

In [53]:
# 2020 creating a cloumn 'happiness_rank'
hap2020_2['happiness_rank']=hap2020_2['happiness_score'].rank(ascending=False)
hap2020_2=hap2020_2.sort_values(by='happiness_rank', ignore_index=True)
hap2020_2

,country,region,happiness_score,economy_GDP_per_capita,family,health_life_expectancy,freedom,generosity,trust_government_corruption,dystopia_residual,happiness_rank
0,Finland,Western Europe,7.8087,1.285190,1.499526,0.961271,0.662317,0.159670,0.477857,2.762835,1.0
1,Denmark,Western Europe,7.6456,1.326949,1.503449,0.979333,0.665040,0.242793,0.495260,2.432741,2.0
2,Switzerland,Western Europe,7.5599,1.390774,1.472403,1.040533,0.628954,0.269056,0.407946,2.350267,3.0
3,Iceland,Western Europe,7.5045,1.326502,1.547567,1.000843,0.661981,0.362330,0.144541,2.460688,4.0
4,Norway,Western Europe,7.4880,1.424207,1.495173,1.008072,0.670201,0.287985,0.434101,2.168266,5.0
...,...,...,...,...,...,...,...,...,...,...,...
148,Central African Republic,Sub-Saharan Africa,3.4759,0.041072,0.000000,0.000000,0.292814,0.253513,0.028265,2.860198,149.0
149,Rwanda,Sub-Saharan Africa,3.3123,0.343243,0.522876,0.572383,0.604088,0.235705,0.485542,0.548445,150.0
150,Zimbabwe,Sub-Saharan Africa,3.2992,0.425564,1.047835,0.375038,0.377405,0.151349,0.080929,0.841031,151.0
151,South Sudan,Sub-Saharan Africa,2.8166,0.289083,0.553279,0.208809,0.065609,0.209935,0.111157,1.378751,152.0
152,Afghanistan,South Asia,2.5669,0.300706,0.356434,0.266052,0.000000,0.135235,0.001226,1.507236,153.0

In [54]:
hap2020_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   country                      153 non-null    object
 1   region                       153 non-null    object
 2   happiness_score              153 non-null    float64
 3   economy_GDP_per_capita       153 non-null    float64
 4   family                       153 non-null    float64
 5   health_life_expectancy       153 non-null    float64
 6   freedom                      153 non-null    float64
 7   generosity                   153 non-null    float64
 8   trust_government_corruption  153 non-null    float64
 9   dystopia_residual            153 non-null    float64
 10  happiness_rank               153 non-null    float64
dtypes: float64(9), object(2)
memory usage: 13.3+ KB

In [55]:
# 2020 converting 'happiness_rank' from float to int
hap2020_2['happiness_rank'] = hap2020_2['happiness_rank'].apply(np.int64)

In [56]:
hap2020_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   country                      153 non-null    object
 1   region                       153 non-null    object
 2   happiness_score              153 non-null    float64
 3   economy_GDP_per_capita       153 non-null    float64
 4   family                       153 non-null    float64
 5   health_life_expectancy       153 non-null    float64
 6   freedom                      153 non-null    float64
 7   generosity                   153 non-null    float64
 8   trust_government_corruption  153 non-null    float64
 9   dystopia_residual            153 non-null    float64
 10  happiness_rank               153 non-null    int64
dtypes: float64(8), int64(1), object(2)
memory usage: 13.3+ KB

In [57]:
# 2020 shift columns 'generocity' and 'happiness_rank' for cinsistency
third_column=hap2020_2.pop('happiness_rank')
ninth_column=hap2020_2.pop('generosity')

In [58]:
# 2020 insert column using insert(position,column_name, ninth_column) function
hap2020_2.insert(2, 'happiness_rank', third_column)
hap2020_2.insert(9, 'generosity', ninth_column)
hap2020_2.head()

,country,region,happiness_rank,happiness_score,economy_GDP_per_capita,family,health_life_expectancy,freedom,trust_government_corruption,generosity,dystopia_residual
0,Finland,Western Europe,1,7.8087,1.285190,1.499526,0.961271,0.662317,0.477857,0.159670,2.762835
1,Denmark,Western Europe,2,7.6456,1.326949,1.503449,0.979333,0.665040,0.495260,0.242793,2.432741
2,Switzerland,Western Europe,3,7.5599,1.390774,1.472403,1.040533,0.628954,0.407946,0.269056,2.350267
3,Iceland,Western Europe,4,7.5045,1.326502,1.547567,1.000843,0.661981,0.144541,0.362330,2.460688
4,Norway,Western Europe,5,7.4880,1.424207,1.495173,1.008072,0.670201,0.434101,0.287985,2.168266

#### 02.7 Wrangling procedure - file year 2021

In [59]:
# 2021 checking the file
hap2021.head()

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.0,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
1,Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.7,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
2,Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.4,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
3,Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.0,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
4,Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.4,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798

In [60]:
# 2021 dropping columns that are irrelevant for the analysis
hap2021.drop(columns = ['Standard error of ladder score', 'upperwhisker', 'lowerwhisker', 'Logged GDP per capita',
                       'Social support', 'Healthy life expectancy', 'Freedom to make life choices', 'Generosity',
                       'Perceptions of corruption', 'Ladder score in Dystopia'])

,Country name,Regional indicator,Ladder score,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.842,1.446,1.106,0.741,0.691,0.124,0.481,3.253
1,Denmark,Western Europe,7.620,1.502,1.108,0.763,0.686,0.208,0.485,2.868
2,Switzerland,Western Europe,7.571,1.566,1.079,0.816,0.653,0.204,0.413,2.839
3,Iceland,Western Europe,7.554,1.482,1.172,0.772,0.698,0.293,0.170,2.967
4,Netherlands,Western Europe,7.464,1.501,1.079,0.753,0.647,0.302,0.384,2.798
...,...,...,...,...,...,...,...,...,...,...
144,Lesotho,Sub-Saharan Africa,3.512,0.451,0.731,0.007,0.405,0.103,0.015,1.800
145,Botswana,Sub-Saharan Africa,3.467,1.099,0.724,0.340,0.539,0.027,0.088,0.648
146,Rwanda,Sub-Saharan Africa,3.415,0.364,0.202,0.407,0.627,0.227,0.493,1.095
147,Zimbabwe,Sub-Saharan Africa,3.145,0.457,0.649,0.243,0.359,0.157,0.075,1.205
148,Afghanistan,South Asia,2.523,0.370,0.000,0.126,0.000,0.122,0.010,1.895

In [61]:
hap2021_2 = hap2021.drop(columns = ['Standard error of ladder score', 'upperwhisker', 'lowerwhisker', 'Logged GDP per capita',
                       'Social support', 'Healthy life expectancy', 'Freedom to make life choices', 'Generosity',
                       'Perceptions of corruption', 'Ladder score in Dystopia'])

In [62]:
# 2021 columns renaiming
hap2021_2.rename(columns={'Country name' : 'country', 'Regional indicator' : 'region',
                        'Ladder score' : 'happiness_score', 'Explained by: Log GDP per capita' : 'economy_GDP_per_capita',
                       'Explained by: Social support' : 'family', 'Explained by: Healthy life expectancy' : 'health_life_expectancy', 'Explained by: Freedom to make life choices' : 'freedom',
                       'Explained by: Perceptions of corruption' : 'trust_government_corruption', 'Explained by: Generosity' : 'generosity',
                       'Dystopia + residual' : 'dystopia_residual'}, inplace = True)

In [63]:
hap2021_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   country                      149 non-null    object
 1   region                       149 non-null    object
 2   happiness_score              149 non-null    float64
 3   economy_GDP_per_capita       149 non-null    float64
 4   family                       149 non-null    float64
 5   health_life_expectancy       149 non-null    float64
 6   freedom                      149 non-null    float64
 7   generosity                   149 non-null    float64
 8   trust_government_corruption  149 non-null    float64
 9   dystopia_residual            149 non-null    float64
dtypes: float64(8), object(2)
memory usage: 11.8+ KB

In [64]:
# 2021 creating a cloumn 'happiness_rank'
hap2021_2['happiness_rank']=hap2021_2['happiness_score'].rank(ascending=False)
hap2021_2=hap2021_2.sort_values(by='happiness_rank', ignore_index=True)
hap2021_2

,country,region,happiness_score,economy_GDP_per_capita,family,health_life_expectancy,freedom,generosity,trust_government_corruption,dystopia_residual,happiness_rank
0,Finland,Western Europe,7.842,1.446,1.106,0.741,0.691,0.124,0.481,3.253,1.0
1,Denmark,Western Europe,7.620,1.502,1.108,0.763,0.686,0.208,0.485,2.868,2.0
2,Switzerland,Western Europe,7.571,1.566,1.079,0.816,0.653,0.204,0.413,2.839,3.0
3,Iceland,Western Europe,7.554,1.482,1.172,0.772,0.698,0.293,0.170,2.967,4.0
4,Netherlands,Western Europe,7.464,1.501,1.079,0.753,0.647,0.302,0.384,2.798,5.0
...,...,...,...,...,...,...,...,...,...,...,...
144,Lesotho,Sub-Saharan Africa,3.512,0.451,0.731,0.007,0.405,0.103,0.015,1.800,145.0
145,Botswana,Sub-Saharan Africa,3.467,1.099,0.724,0.340,0.539,0.027,0.088,0.648,146.0
146,Rwanda,Sub-Saharan Africa,3.415,0.364,0.202,0.407,0.627,0.227,0.493,1.095,147.0
147,Zimbabwe,Sub-Saharan Africa,3.145,0.457,0.649,0.243,0.359,0.157,0.075,1.205,148.0
148,Afghanistan,South Asia,2.523,0.370,0.000,0.126,0.000,0.122,0.010,1.895,149.0

In [65]:
hap2021_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   country                      149 non-null    object
 1   region                       149 non-null    object
 2   happiness_score              149 non-null    float64
 3   economy_GDP_per_capita       149 non-null    float64
 4   family                       149 non-null    float64
 5   health_life_expectancy       149 non-null    float64
 6   freedom                      149 non-null    float64
 7   generosity                   149 non-null    float64
 8   trust_government_corruption  149 non-null    float64
 9   dystopia_residual            149 non-null    float64
 10  happiness_rank               149 non-null    float64
dtypes: float64(9), object(2)
memory usage: 12.9+ KB

In [66]:
# 2021 converting 'happiness_rank' from float to int
hap2021_2['happiness_rank'] = hap2021_2['happiness_rank'].apply(np.int64)

In [67]:
hap2021_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   country                      149 non-null    object
 1   region                       149 non-null    object
 2   happiness_score              149 non-null    float64
 3   economy_GDP_per_capita       149 non-null    float64
 4   family                       149 non-null    float64
 5   health_life_expectancy       149 non-null    float64
 6   freedom                      149 non-null    float64
 7   generosity                   149 non-null    float64
 8   trust_government_corruption  149 non-null    float64
 9   dystopia_residual            149 non-null    float64
 10  happiness_rank               149 non-null    int64
dtypes: float64(8), int64(1), object(2)
memory usage: 12.9+ KB

In [68]:
# 2021 shift columns 'generocity' and 'happiness_rank' for cinsistency
third_column=hap2021_2.pop('happiness_rank')
ninth_column=hap2021_2.pop('generosity')

In [69]:
# 2021 insert column using insert(position,column_name, ninth_column) function
hap2021_2.insert(2, 'happiness_rank', third_column)
hap2021_2.insert(9, 'generosity', ninth_column)
hap2021_2.head()

,country,region,happiness_rank,happiness_score,economy_GDP_per_capita,family,health_life_expectancy,freedom,trust_government_corruption,generosity,dystopia_residual
0,Finland,Western Europe,1,7.842,1.446,1.106,0.741,0.691,0.481,0.124,3.253
1,Denmark,Western Europe,2,7.620,1.502,1.108,0.763,0.686,0.485,0.208,2.868
2,Switzerland,Western Europe,3,7.571,1.566,1.079,0.816,0.653,0.413,0.204,2.839
3,Iceland,Western Europe,4,7.554,1.482,1.172,0.772,0.698,0.170,0.293,2.967
4,Netherlands,Western Europe,5,7.464,1.501,1.079,0.753,0.647,0.384,0.302,2.798

#### 02.8 Wrangling procedure - file year 2022

In [70]:
# 2022 checking the file
hap2022.head()

,RANK,Country,Region,Happiness score,Whisker-high,Whisker-low,Dystopia (1.83) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,1,Finland,Western Europe,"7,821","7,886","7,756","2,518","1,892","1,258","0,775","0,736","0,109","0,534"
1,2,Denmark,Western Europe,"7,636","7,710","7,563","2,226","1,953","1,243","0,777","0,719","0,188","0,532"
2,3,Iceland,Western Europe,"7,557","7,651","7,464","2,320","1,936","1,320","0,803","0,718","0,270","0,191"
3,4,Switzerland,Western Europe,"7,512","7,586","7,437","2,153","2,026","1,226","0,822","0,677","0,147","0,461"
4,5,Netherlands,Western Europe,"7,415","7,471","7,359","2,137","1,945","1,206","0,787","0,651","0,271","0,419"

In [71]:
# 2022 dropping columns that are irrelevant for the analysis
hap2022.drop(columns = ['Whisker-high', 'Whisker-low'])

,RANK,Country,Region,Happiness score,Dystopia (1.83) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,1,Finland,Western Europe,"7,821","2,518","1,892","1,258","0,775","0,736","0,109","0,534"
1,2,Denmark,Western Europe,"7,636","2,226","1,953","1,243","0,777","0,719","0,188","0,532"
2,3,Iceland,Western Europe,"7,557","2,320","1,936","1,320","0,803","0,718","0,270","0,191"
3,4,Switzerland,Western Europe,"7,512","2,153","2,026","1,226","0,822","0,677","0,147","0,461"
4,5,Netherlands,Western Europe,"7,415","2,137","1,945","1,206","0,787","0,651","0,271","0,419"
...,...,...,...,...,...,...,...,...,...,...,...
140,141,Botswana,Sub-Saharan Africa,"3,471","0,187","1,503","0,815","0,280","0,571","0,012","0,102"
141,142,Rwanda,Sub-Saharan Africa,"3,268","0,536","0,785","0,133","0,462","0,621","0,187","0,544"
142,143,Zimbabwe,Sub-Saharan Africa,"2,995","0,548","0,947","0,690","0,270","0,329","0,106","0,105"
143,144,Lebanon,Middle East and North Africa,"2,955","0,216","1,392","0,498","0,631","0,103","0,082","0,034"
144,145,Afghanistan,South Asia,"2,404","1,263","0,758","0,000","0,289","0,000","0,089","0,005"

In [72]:
hap2022_2 = hap2022.drop(columns = ['Whisker-high', 'Whisker-low'])

In [73]:
# 2022 columns renaiming
hap2022_2.rename(columns={'RANK' : 'happiness_rank', 'Country' : 'country', 'Region' : 'region',
                        'Happiness score' : 'happiness_score', 'Explained by: GDP per capita' : 'economy_GDP_per_capita',
                       'Explained by: Social support' : 'family', 'Explained by: Healthy life expectancy' : 'health_life_expectancy', 'Explained by: Freedom to make life choices' : 'freedom',
                       'Explained by: Perceptions of corruption' : 'trust_government_corruption', 'Explained by: Generosity' : 'generosity',
                       'Dystopia (1.83) + residual' : 'dystopia_residual'}, inplace = True)

In [74]:
hap2022_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145 entries, 0 to 144
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   happiness_rank               145 non-null    int64
 1   country                      145 non-null    object
 2   region                       145 non-null    object
 3   happiness_score              145 non-null    object
 4   dystopia_residual            145 non-null    object
 5   economy_GDP_per_capita       145 non-null    object
 6   family                       145 non-null    object
 7   health_life_expectancy       145 non-null    object
 8   freedom                      145 non-null    object
 9   generosity                   145 non-null    object
 10  trust_government_corruption  145 non-null    object
dtypes: int64(1), object(10)
memory usage: 12.6+ KB

In [75]:
hap2022_2.head()

,happiness_rank,country,region,happiness_score,dystopia_residual,economy_GDP_per_capita,family,health_life_expectancy,freedom,generosity,trust_government_corruption
0,1,Finland,Western Europe,"7,821","2,518","1,892","1,258","0,775","0,736","0,109","0,534"
1,2,Denmark,Western Europe,"7,636","2,226","1,953","1,243","0,777","0,719","0,188","0,532"
2,3,Iceland,Western Europe,"7,557","2,320","1,936","1,320","0,803","0,718","0,270","0,191"
3,4,Switzerland,Western Europe,"7,512","2,153","2,026","1,226","0,822","0,677","0,147","0,461"
4,5,Netherlands,Western Europe,"7,415","2,137","1,945","1,206","0,787","0,651","0,271","0,419"

In [76]:
# 2022 shift columns 'dystopia_residual', generocity' and 'happiness_rank' for cinsistency
third_column=hap2022_2.pop('happiness_rank')
ninth_column=hap2022_2.pop('generosity')
tenth_column=hap2022_2.pop('dystopia_residual')

In [77]:
# 2022 insert column using insert(position,column_name, column) function
hap2022_2.insert(2, 'happiness_rank', third_column)
hap2022_2.insert(9, 'generosity', ninth_column)
hap2022_2.insert(10, 'dystopia_residual', tenth_column)
hap2022_2.head()

,country,region,happiness_rank,happiness_score,economy_GDP_per_capita,family,health_life_expectancy,freedom,trust_government_corruption,generosity,dystopia_residual
0,Finland,Western Europe,1,"7,821","1,892","1,258","0,775","0,736","0,534","0,109","2,518"
1,Denmark,Western Europe,2,"7,636","1,953","1,243","0,777","0,719","0,532","0,188","2,226"
2,Iceland,Western Europe,3,"7,557","1,936","1,320","0,803","0,718","0,191","0,270","2,320"
3,Switzerland,Western Europe,4,"7,512","2,026","1,226","0,822","0,677","0,461","0,147","2,153"
4,Netherlands,Western Europe,5,"7,415","1,945","1,206","0,787","0,651","0,419","0,271","2,137"

#### 03. Creating a new column 'Year' for each file

In [79]:
# 2015 Using DataFrame.insert() to add a column
hap2015_2.insert(2, 'Year', 2015)

In [80]:
# Observe the result
hap2015_2.head()

,country,region,Year,happiness_rank,happiness_score,economy_GDP_per_capita,family,health_life_expectancy,freedom,trust_government_corruption,generosity,dystopia_residual
0,Switzerland,Western Europe,2015,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2015,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,2015,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,2015,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,2015,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [81]:
hap2015_2['Year'].value_counts(dropna=False)

2015    158
Name: Year, dtype: int64

In [82]:
# 2016 Using DataFrame.insert() to add a column
hap2016_2.insert(2, 'Year', 2016)

In [83]:
# Observe the result
hap2016_2.head()

,country,region,Year,happiness_rank,happiness_score,economy_GDP_per_capita,family,health_life_expectancy,freedom,trust_government_corruption,generosity,dystopia_residual
0,Denmark,Western Europe,2016,1,7.526,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2016,2,7.509,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,2016,3,7.501,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,2016,4,7.498,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,2016,5,7.413,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

In [84]:
hap2016_2['Year'].value_counts(dropna=False)

2016    157
Name: Year, dtype: int64

In [85]:
# 2017 Using DataFrame.insert() to add a column
hap2017_2.insert(2, 'Year', 2017)

In [86]:
# Observe the result
hap2017_2.head()

,country,region,Year,happiness_rank,happiness_score,economy_GDP_per_capita,family,health_life_expectancy,freedom,trust_government_corruption,generosity,dystopia_residual
0,Norway,Western Europe,2017,1,7.537,1.616463,1.533524,0.796667,0.635423,0.315964,0.362012,2.277027
1,Denmark,Western Europe,2017,2,7.522,1.482383,1.551122,0.792566,0.626007,0.400770,0.355280,2.313707
2,Iceland,Western Europe,2017,3,7.504,1.480633,1.610574,0.833552,0.627163,0.153527,0.475540,2.322715
3,Switzerland,Western Europe,2017,4,7.494,1.564980,1.516912,0.858131,0.620071,0.367007,0.290549,2.276716
4,Finland,Western Europe,2017,5,7.469,1.443572,1.540247,0.809158,0.617951,0.382612,0.245483,2.430182

In [87]:
hap2017_2['Year'].value_counts(dropna=False)

2017    155
Name: Year, dtype: int64

In [88]:
# 2018 Using DataFrame.insert() to add a column
hap2018.insert(2, 'Year', 2018)

In [89]:
# Observe the result
hap2018.head()

,country,region,Year,happiness_rank,happiness_score,economy_GDP_per_capita,family,health_life_expectancy,freedom,trust_government_corruption,generosity,dystopia_residual
0,Finland,Western Europe,2018,1,7.632,1.305,1.592,0.874,0.681,0.393,0.202,0
1,Norway,Western Europe,2018,2,7.594,1.456,1.582,0.861,0.686,0.340,0.286,0
2,Denmark,Western Europe,2018,3,7.555,1.351,1.590,0.868,0.683,0.408,0.284,0
3,Iceland,Western Europe,2018,4,7.495,1.343,1.644,0.914,0.677,0.138,0.353,0
4,Switzerland,Western Europe,2018,5,7.487,1.420,1.549,0.927,0.660,0.357,0.256,0

In [90]:
hap2018['Year'].value_counts(dropna=False)

2018    156
Name: Year, dtype: int64

In [91]:
# 2019 Using DataFrame.insert() to add a column
hap2019.insert(2, 'Year', 2019)

In [92]:
# Observe the result
hap2019.head()

,country,region,Year,happiness_rank,happiness_score,economy_GDP_per_capita,family,health_life_expectancy,freedom,trust_government_corruption,generosity,dystopia_residual
0,Finland,Western Europe,2019,1,7.769,1.340,1.587,0.986,0.596,0.393,0.153,0
1,Denmark,Western Europe,2019,2,7.600,1.383,1.573,0.996,0.592,0.410,0.252,0
2,Norway,Western Europe,2019,3,7.554,1.488,1.582,1.028,0.603,0.341,0.271,0
3,Iceland,Western Europe,2019,4,7.494,1.380,1.624,1.026,0.591,0.118,0.354,0
4,Netherlands,Western Europe,2019,5,7.488,1.396,1.522,0.999,0.557,0.298,0.322,0

In [93]:
hap2019['Year'].value_counts(dropna=False)

2019    156
Name: Year, dtype: int64

In [94]:
# 2020 Using DataFrame.insert() to add a column
hap2020_2.insert(2, 'Year', 2020)

In [95]:
# Observe the result
hap2020_2.head()

,country,region,Year,happiness_rank,happiness_score,economy_GDP_per_capita,family,health_life_expectancy,freedom,trust_government_corruption,generosity,dystopia_residual
0,Finland,Western Europe,2020,1,7.8087,1.285190,1.499526,0.961271,0.662317,0.477857,0.159670,2.762835
1,Denmark,Western Europe,2020,2,7.6456,1.326949,1.503449,0.979333,0.665040,0.495260,0.242793,2.432741
2,Switzerland,Western Europe,2020,3,7.5599,1.390774,1.472403,1.040533,0.628954,0.407946,0.269056,2.350267
3,Iceland,Western Europe,2020,4,7.5045,1.326502,1.547567,1.000843,0.661981,0.144541,0.362330,2.460688
4,Norway,Western Europe,2020,5,7.4880,1.424207,1.495173,1.008072,0.670201,0.434101,0.287985,2.168266

In [96]:
hap2020_2['Year'].value_counts(dropna=False)

2020    153
Name: Year, dtype: int64

In [97]:
# 2021 Using DataFrame.insert() to add a column
hap2021_2.insert(2, 'Year', 2021)

In [98]:
# Observe the result
hap2021_2.head()

,country,region,Year,happiness_rank,happiness_score,economy_GDP_per_capita,family,health_life_expectancy,freedom,trust_government_corruption,generosity,dystopia_residual
0,Finland,Western Europe,2021,1,7.842,1.446,1.106,0.741,0.691,0.481,0.124,3.253
1,Denmark,Western Europe,2021,2,7.620,1.502,1.108,0.763,0.686,0.485,0.208,2.868
2,Switzerland,Western Europe,2021,3,7.571,1.566,1.079,0.816,0.653,0.413,0.204,2.839
3,Iceland,Western Europe,2021,4,7.554,1.482,1.172,0.772,0.698,0.170,0.293,2.967
4,Netherlands,Western Europe,2021,5,7.464,1.501,1.079,0.753,0.647,0.384,0.302,2.798

In [99]:
hap2021_2['Year'].value_counts(dropna=False)

2021    149
Name: Year, dtype: int64

In [100]:
# 2022 Using DataFrame.insert() to add a column
hap2022_2.insert(2, 'Year', 2022)

In [101]:
# Observe the result
hap2022_2.head()

,country,region,Year,happiness_rank,happiness_score,economy_GDP_per_capita,family,health_life_expectancy,freedom,trust_government_corruption,generosity,dystopia_residual
0,Finland,Western Europe,2022,1,"7,821","1,892","1,258","0,775","0,736","0,534","0,109","2,518"
1,Denmark,Western Europe,2022,2,"7,636","1,953","1,243","0,777","0,719","0,532","0,188","2,226"
2,Iceland,Western Europe,2022,3,"7,557","1,936","1,320","0,803","0,718","0,191","0,270","2,320"
3,Switzerland,Western Europe,2022,4,"7,512","2,026","1,226","0,822","0,677","0,461","0,147","2,153"
4,Netherlands,Western Europe,2022,5,"7,415","1,945","1,206","0,787","0,651","0,419","0,271","2,137"

In [102]:
hap2022_2['Year'].value_counts(dropna=False)

2022    145
Name: Year, dtype: int64

#### 04. Exporting files

In [103]:
hap2015_2.to_csv(os.path.join(path, 'Prepared Data', 'wr2015.csv'))
hap2016_2.to_csv(os.path.join(path, 'Prepared Data', 'wr2016.csv'))
hap2017_2.to_csv(os.path.join(path, 'Prepared Data', 'wr2017.csv'))
hap2018.to_csv(os.path.join(path, 'Prepared Data', 'wr2018.csv'))
hap2019.to_csv(os.path.join(path, 'Prepared Data', 'wr2019.csv'))
hap2020_2.to_csv(os.path.join(path, 'Prepared Data', 'wr2020.csv'))
hap2021_2.to_csv(os.path.join(path, 'Prepared Data', 'wr2021.csv'))
hap2022_2.to_csv(os.path.join(path, 'Prepared Data', 'wr2022.csv'))